-
  var {skillData, skillBox, legendBox} = data.skill

//- pre= JSON.stringify(skillBox, null, 2)
.header 
  .header__camasa
    .header__title= skillBox.sectionTitle

.text
  .text__info-box 
    button.buton__normal--transparent
      .orice
        a(href="https://www.youtube.com/watch?v=wGrxMUGngnk&ab_channel=DJSkandalous" title="Motivational Training" target="_blank")
          .cv-youtube
.divider_top-24
.box__gap-8
  .box__info-box
    .box__section-title= skillBox.title
  .box__info-box
    each content in skillBox.boxContent
      .box__descriere= content

.wrap 
  each skill in skillData
    .wrap
      .title= skill.title

      .skillContainer 
        each element in skill.skillList
          div(
            class= `pill--${element.color}`
          )= element.skillName

  .box__info-box-shadow
    .box__section-title= legendBox.title
    .divider-16
    each regula, cheie in legendBox.boxContent 
      .legendContainer 
        div(
          class= `pill--${regula.color}`
        )= cheie+1
        .box__descriere= regula.text
//- pre= JSON.stringify(frontEnd, null, 2)
